<md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
        <span>{{vm.config.sourceName}}</span>
        <span flex></span>
        <md-button class="md-raised md-primary" ng-click="vm.create()">Создать</md-button>
    </div>
</md-toolbar>

<md-table-container>
    <table md-table>
        <thead md-head md-order="query.order" md-on-reorder="onReorder">
        <tr md-row>
            <th md-column><span>ID</span></th>
            <th md-column><span>Имя</span></th>
            <th md-column>Статус</th>
            <th md-column>Регион</th>
            <th md-column>Бренд</th>
            <th md-column>Модель</th>
            <th md-column>Медиаплан</th>
            <th md-column>Тикеты</th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row ng-repeat="o in vm.pager.data">
            <td md-cell>{{o.id}}</td>
            <td md-cell>{{o.name}}</td>
            <td md-cell>{{o.status}}</td>
            <td md-cell ng-click="vm.editProp($event, o, 'regionId')">{{o._relations.region.name || 'Не указано'}}</td>
            <td md-cell ng-click="vm.editProp($event, o, 'brandId')">{{o._relations.brand.name || 'Не указано'}}</td>
            <td md-cell ng-click="vm.editProp($event, o, 'model')">{{o.model || 'Не указанj'}}</td>
            <td md-cell>{{o.control}}</td>
            <td md-cell>{{o.getAds}}</td>
        </tr>
        </tbody>
    </table>
</md-table-container>

<md-table-pagination md-limit="vm.pager.per" md-page="vm.pager.page" md-total="{{vm.pager.total}}" md-page-select></md-table-pagination>